<div class="com-tag-edit">
    <nz-table #basicTable [nzData]="list" [nzShowPagination]="false" nzSize="small">
        <thead>
            <tr>
                <th>Name</th>
                <th nzWidth="120px" nzAlign="center">Operate</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of basicTable.data">
                <td>{{ item }}</td>
                <td nzAlign="center">
                    <button nz-button nzType="primary" nzSize="small">编辑</button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>